* {
    box-sizing: border-box;
    
}




.autocomplete-input {
    width: 800px;
}
.btn-submit {
  border: unset;
  background : #808080;
  color:#ffffff;
  cursor: pointer;
}

.autocomplete-wrapper{
    display:inline-block;
    position:relative;
}
.autocomplete-list {
    list-style : none;
    padding : unset;
    margin : unset;
    position:absolute;
    width : 100%;
    z-index: 100;
}

.autocomplete-list li{
   border : 1px solid #efffff;
   border-top : unset;
   background-color: #FFFFFF;
}

/* .autocomplete-list li{
    border: 1px solid #e9e9e9;
    border-top:unset;

} */

.autocomplete-list button {
    width : 100%;
    border : unset;
    background : unset;
}

.autocomplete-list button:hover {
    background-color: yellow;
  }
/* 
button {
    cursor: pointer;
} */
nav {
    background: #f2f2f2;
  }
  
  .menu {
    display: flex;
    list-style: none;
    
  justify-content: center;
    padding: 0;
  }
  
  .menu li {
    padding: 10px;
  }
  
  .tab-content {
    display: none;
    justify-content: center;
  }
  
  .tab-content.active {
    display: block;
    justify-content: center;

  }


  img {
    max-width: 100%;
    height: auto;
  }

